table {
    margin-top: 50px;
}

#th-name{
    width: 300px;
    border-bottom: 2px solid black;
    margin-right: 20px;
    text-align: left;
}

#th-cost, #th-quant{
    width: 70px;
    border-bottom: 2px solid black;
    text-align: center;
}

#th-total{
    width: 100px;
    border-bottom: 2px solid black;
    text-align: right;
}

.cart-item{
    height: 55px;
}

.cost, .quant{
    text-align: center;
    border-bottom: 1px solid black;

}

.total{
    text-align: right;
    border-bottom: 1px solid black;

}

.name{
    border-bottom: 1px solid black;

}

button{
    background: black;
    color: white;
    border: 0;
    outline: none;
    height: 25px;
    width: 150px;
    align-self: center;
}

