
body {
    --color1: #ffffff;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #ffffff;
    --color5: #ffffff;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --shadow-item: 0px 0px 20px -5px rgba(0,0,0,0.45);

    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}


header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  #product-list{
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 10px;
  }

  li {
      height: 125px;
      display: grid;
      grid-template-columns: 100px auto 50px;
      box-shadow: var(--shadow-item);
      margin: 5px;
  }


  .image-section{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  img {
    max-width: 90px;
    max-height: 90px;
  }

  .text{
        display: grid;
        grid-template-rows: 25px 80px 20px;
        height: 100%;
        padding-left: 5px;


  }
  
  p{
      margin: 0;
  }

  .name{
      font-weight: bolder;
        height: 25px;
        overflow: hidden;

  }

  .description{
      font-size: .75em;
      overflow: hidden;
      padding-right: 5px;
  }
  
  .subheader{
      height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 5px;
      padding-right: 5px;
  }

  .add-to-cart-button, .subtract-from-cart-button{
      background-color: black;
      color: white;
      align-self: center;
      padding-right: 3px;
      outline: none;
      height: 100%;
      width: 50px;
      font-size: 1.5em;
      box-shadow: 1px 1px gray;
  }
  .add-to-cart-button:active, .subtract-from-cart-button:active{
        box-shadow: none;
  }
  
  .cart-status-display{
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
  }

  .category {
      color: gray;
  }


  li:hover {
    transform: scale(1.01);
    animation-name: changeImage;
    animation-duration: 1000ms;
}

#shopping-cart-icon{
    height: 35px;
    outline: none;
}

.cart-section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.drop-down-div{
    display: none;
    margin: 0;
    background-color: green;
    height: 100%;
    width: 100%;
}

.drop-down-content{
    background-color: white;
    color: black;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin: 0;
}

.drop-down-content:hover{
    background-color: lightgray;
}

.show{
    display: block;
}